APP_NAME=OrderService
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8005

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=order_db
DB_USERNAME=order_user
DB_PASSWORD=order_pass

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=saas_user
RABBITMQ_PASSWORD=saas_pass
RABBITMQ_VHOST=saas_vhost

AUTH_SERVICE_URL=http://auth-service:8000
AUTH_SERVICE_SHARED_SECRET=super_secret_key_change_in_production
INVENTORY_SERVICE_URL=http://inventory-service:8000
PRODUCT_SERVICE_URL=http://product-service:8000
